label {
    margin-bottom: 5px;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 2px;
    align-self: flex-start;
}

.container {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.label {
    color: #666;
}

.labelError {
    color: red;
}

input {
    font-size: 18px;
    font-weight: bold;
    color: black;
    width: 100px;
    padding: 10px;
    border-radius: 4px;
    caret-color: #854EFA;
}

.input {
    border: 1px solid rgba(128, 128, 128, 0.25);
}

.input:focus {
    border-color: #854EFA;
}

.inputError {
    border: 1px solid red;
}

.errorLabel {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

@media screen and (max-width: 768px) {
    input {
        width: 90%;
    }
}